<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.todo.mapper.TodoMapper">

  <select id="getTodos" resultType="com.nf147.todo.entity.Todo">
    select * from todo
  </select>
  <select id="getTodo" resultType="com.nf147.todo.entity.Todo">
     select * from todo where id=#{id}
  </select>

  <insert id="addTodo">
    insert into todo (
      name, detail,memo
    ) values (
      #{name}, #{detail},#{memo}
    )
  </insert>

  <delete id="deleteTodo">
    delete from todo where id=#{id}
  </delete>

  <update id="makeDone">
    update todo set state='完成' where id=#{id}
  </update>

  <update id="makeCancle">
    update todo set state='未完成' where id=#{id}
  </update>
</mapper>